.sectionBrowseResults {
  min-height: 600px;
}

.statusMessages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionBrowseResults ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.sectionBrowseResults ul li {
  height: 400px;
  width: auto;

  article {
    height: 100%;
    width: auto;

    header {
      height: 40px;
      font-size: 2rem;
    }
  }
}

.pagination {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid var(--darkGrey);
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--darkerGrey);
    color: var(--black);
    outline: none;
  }
}
