.sectionBrowseResults ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
}

.pagination {
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid var(--darkGrey);
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--darkerGrey);
        color: var(--black);
        outline: none;
    }
}