.listPage {
    padding: 0 20px;
}

.contentContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: -140px;
    position: relative;
    padding: 20px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    border-bottom: 1px solid var(--darkGrey);
}

.avatar,
.loadingAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.loadingAvatar {
    background-color: var(--darkGrey);
}

.username {
    margin-left: 5px;
    font-weight: 600;
    color: var(--lighterBlue);
}

.loadingUsername {
    width: 100px;
    height: 30px;
    background-color: var(--darkerGrey);
    border-radius: 4px;
}

.publishDate,
.loadingPublishDate {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--darkGrey);
    font-size: 14px;
    color: var(--grey);
}

.loadingPublishDate {
    width: 150px;
    height: 20px;
    background-color: var(--darkerGrey);
    border-radius: 4px;
}

.publishedDate {
    margin-left: 5px;
    font-weight: 600;
    color: var(--lighterBlue);
}

.listName,
.loadingListName {
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0;
    color: var(--white);
}

.loadingListName {
    width: 300px;
    height: 40px;
    background-color: var(--darkerGrey);
    border-radius: 4px;
}

.loadingDescription,
.description>p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--lightGrey);
    margin-bottom: 40px;
}

.loadingDescription {
    width: 100%;
    height: 80px;
    background-color: var(--darkerGrey);
    border-radius: 4px;
}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.moviesGrid>button,
.moviesGrid>div {
    width: 140px;
    height: 220px;
    margin-bottom: 40px;
}

.movieIndex {
    font-size: 16px;
    font-weight: 600;
    color: var(--grey);
    margin-bottom: 5px;
    padding: 10px;
}

.sidebarButtons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 200px;
}

.loadingSidebarBox {
    width: 100%;
    height: 150px;
    background-color: var(--darkerGrey);
    border-radius: 10px;
}

.loadingMovieCard {
    width: 100%;
    height: 100%;
    background-color: var(--darkerGrey);
    border-radius: 8px;
}

.likeButton,
.cloneButton,
.shareButton {
    background-color: var(--darkestGrey);
    color: var(--white);
    border: none;
    padding: 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.likeButton:hover,
.cloneButton:hover,
.shareButton:hover {
    background-color: var(--darkerGrey);
}

.likeButton svg {
    fill: var(--white);
    width: 20px;
    height: 20px;
}

.likeButton {
    margin-bottom: 2px;
    border-radius: 10px 10px 0 0;
}

.cloneButton {
    margin-bottom: 2px;
    border-radius: 0;
}

.shareButton {
    border-radius: 0 0 10px 10px;
}


@media screen and (min-width: 768px) {

    .contentContainer {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top: -140px;
        position: relative;
        padding: 20px;
    }


    .moviesGrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}


@media screen and (min-width: 1024px) {

    .moviesGrid {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
}