.sectionBackdrop {
    position: relative;
    max-width: var(--mainWidth);
    height: 600px;
    margin: -100px auto 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* Main sharp image */
.imgBackdrop {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: -1;
    /* above the blurred overlay */
}

/* Radial overlay to fade edges */
.sectionBackdrop::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;

    background: radial-gradient(ellipse 100% 100% at center,
            rgba(20, 24, 28, 0) 25%,
            /* very tight sharp center */
            rgba(20, 24, 28, 0.2) 40%,
            /* start fading quickly */
            rgba(20, 24, 28, 0.5) 70%,
            /* stronger edge fade */
            rgba(20, 24, 28, 1) 100%
            /* fully blended edges */
        );
}



/* Caption overlay */
.spanOverlayCaption {
    position: absolute;
    top: 35%;
    right: 5%;
    color: var(--darkerGrey);
    font-size: 0.8rem;
    transform: rotate(-90deg);
    transform-origin: top right;
    z-index: 2;
}