.headerMain {
    max-width: var(--mainWidth);
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);

    img {
        height: 30px;
        border-radius: 20px;
        margin-right: 12px;
        margin: 16px 0;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        font-size: 2rem;
        font-weight: 600;
        color: var(--white);
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: inherit;
        }
    }


}