.headerContainer {
    position: static;
    top: 0;
    width: 100%;
    background-color: var(--black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.headerMain {
    top: 0;
    max-width: var(--mainWidth);
    height: 64px;

    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;

    img {
        height: 30px;
        border-radius: 20px;
        margin-right: 12px;
        margin: 16px 0;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        font-size: 2rem;
        font-weight: 600;
        color: var(--white);
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: inherit;
        }
    }


}