.userSection {
    margin: 0 auto;
    margin-top: -60px;
    gap: 20px;
    padding: 10px;
    position: relative;
    background-color: rgba(20, 24, 28, 0.5);
    justify-content: space-between;
}

.avatarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar,
.avatarLoading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.avatarLoading {
    background-color: var(--darkGrey);
}

.usernameLoading {
    width: 240px;
    height: 30px;
    background-color: var(--darkGrey);
    border-radius: 4px;
}

.followButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--darkGrey);
    border: none;
    color: var(--textColor);
    font-size: 24px;
    cursor: pointer;
    padding-bottom: -40px;
}

.loadingDataItem {
    width: 50px;
    height: 50px;
    background-color: var(--darkGrey);
    border-radius: 4px;
    margin-right: 10px;
}

.userData {
    display: flex;
    align-items: start;
}

.userContent,
.loadingUserContent {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

.moreUserData > div {
    padding: 10px 20px;
}

.moreUserData p {
    color: var(--grey);
    margin-bottom: 10px;
}

.memberSince {
    color: var(--lightBlue);
    font-weight: bold;
    margin: 0 4px;
}

.moreUserData p:last-child {
    margin-bottom: 0;
}

.followersList,
.followingList {
    display: flex;
    gap: 10px;
    list-style: none;
}

.followerAvatar,
.followingAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.loadingContentMain {
    width: 100%;
    height: 300px;
    background-color: var(--darkestGrey);
    border-radius: 4px;
}

.loadingContentAside {
    width: 100%;
    height: 300px;
    background-color: var(--darkestGrey);
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .userSection {
        display: flex;
        margin-top: -170px;
        padding: 40px;
    }

    .avatar,
    .avatarLoading {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .userContent,
    .loadingUserContent {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 100px;
        padding: 0 40px;
        padding-bottom: 40px;
    }

    .followersList,
    .followingList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        list-style: none;
    }
}
