.toastContainer {
  position: fixed;
  bottom: 20px;
  right: 10vw;
  transform: translateX(50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  animation: fadeOut 0.3s ease-out 4.7s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

.warning {
  background-color: #ff9800;
}

@media screen and (max-width: 600px) {
  .toastContainer {
    right: 50vw;
  }
}
