.footerContainer {
    background-color: var(--darkerGrey);
}

#footerMain {
    padding: 30px;
    text-align: center;
    max-width: var(--mainWidth);
    margin: 0 auto;
}

#sectionFooterTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: var(--mainWidth);
    font-size: 14px;
}

#navFooterTopLeft {
    ul {
        list-style: none;
        display: flex;
        gap: 14px;
        color: var(--lightGrey);

        li {
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: var(--darkGrey);
            }
        }
    }
}

#navFooterTopRight {
    display: flex;
    flex-direction: row;

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 40px;

        li {
            cursor: pointer;
            transition: color 0.3s;

            &:hover svg {
                fill: var(--lightGrey);
            }

            svg {
                fill: var(--darkGrey);
            }
        }
    }

    svg {
        color: var(--lightGrey);
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: var(--primaryColor);
        }
    }
}

#copyright {
    color: var(--darkestGrey);
    font-size: 12px;
    margin: 10px auto 24px auto;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    #sectionFooterTop {
        flex-direction: row;
        font-size: 16px;
    }
}