.reviewCard {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    padding: 20px 0;
    padding: 40px 20px;
    border-bottom: 1px solid var(--darkGrey);
}

.reviewCard:last-child {
    border-bottom: none;
}

.reviewCard>button {
    height: 200px;
    width: 120px;
}