.listCardWithDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 20px;
    border-bottom: 1px solid var(--darkestGrey);
    gap: 20px;
}

.loadingPosterStack {
    position: relative;
    width: 236px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--darkestGrey);
}

.listCardWithDescription:last-of-type {
    border-bottom: none;
}

.listName,
.loadingListName {
    font-size: 22px;
    font-weight: bold;
    color: var(--lightBlue);
    text-decoration: none;
}

.loadingListName {
    width: 240px;
    height: 32px;
    background-color: var(--darkestGrey);
    border-radius: 4px;
}

.listName:hover {
    color: var(--blue);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.listAuthor,
.aAuthor,
.loadingAuthor {
    font-size: 14px;
    color: var(--lightGrey);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin: 10px 0;
    text-decoration: none;
}

.aAuthor:hover {
    color: var(--blue);
}

.loadingAuthor {
    width: 150px;
    height: 32px;
    background-color: var(--darkestGrey);
    border-radius: 4px;
}

.loadingListAuthorContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.listDataContainer,
.loadingListDataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingListDataContainer {
    gap: 20px;
}

.loadingListDataItem {
    width: 40px;
    height: 32px;
    background-color: var(--darkestGrey);
    border-radius: 4px;
}

.loadingListDescription {
    width: 400px;
    height: 60px;
    background-color: var(--darkestGrey);
    border-radius: 4px;
    margin-top: 10px;
}

@media screen and (min-width: 600px) {
    .listCardWithDescription {
        padding: 20px;
        border-bottom: 1px solid var(--darkestGrey);
        flex-direction: row;
        text-align: left;
        gap: 20px;
    }
}
