.formBrowseBy {
  label {
    select {
      background-color: var(--darkBlue);
      color: var(--lightGrey);
      width: 120px;
      border-right: none;
      padding: 0.3rem;

      border-color: var(--darkerGrey);
    }

    select:first-child {
      margin-left: 0.75rem;
      border-radius: 4px 0 0 4px;
    }

    select:last-child {
      border-right: 1px solid var(--darkGrey);
      border-radius: 0 4px 4px 0;
    }
  }
}
