.ulPopularMovies {
  list-style: none;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  overflow-y: hidden;
  gap: 16px;
  padding: 20px;

  scrollbar-color: #888 transparent;

  li {
    button {
      margin: 4px;
      height: 350px;
      width: 240px;
    }
  }
}
