.ulPopularMovies {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: thin;
  overflow-y: hidden;
  gap: 16px;
  padding: 20px;

  li {
    article {
      margin: 4px;
      height: 350px;
      width: 220px;
    }
  }
}
