.formSearchFilm {
    label {
        input {
            background-color: var(--darkGrey);
            color: var(--darkestGrey);
            width: 200px;
            border-radius: 4px;
            border: none;
            padding: 0.3rem;
            margin-left: 0.75rem;

            &:focus {
                outline: none;
                background-color: var(--white);
                color: var(--black);
            }
        }
    }
}