.imgAd {
    width: 100%;
    margin-top: 16px;

    &:hover {
        cursor: pointer;
    }
}

.ulPopularFilms {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    gap: 16px;
    margin: 0 16px;

    li {
        article {
            height: 350px;
            width: 220px;
        }
    }
}