#listJustReviewed {
    list-style: none;
    display: flex;
    gap: 10px;
}

#pWriteShare {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--darkGrey);
}

#pBelow {
    text-align: center;
    font-size: 0.9rem;
    color: var(--darkGrey);
    margin-bottom: 20px;

    a {
        color: var(--lightGrey);
        text-decoration: none;
        font-weight: 300;

        &:hover {
            color: var(--blue);
        }
    }
}

#sectionPopularReviewsAndLists {
    display: grid;
    grid-template-columns: 6fr 3fr;
}