.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 8px;
  margin-top: 30px;
  border-bottom: 1px solid var(--darkGrey);
  font-size: 0.8rem;
  color: var(--darkGrey);

  a,
  p {
    text-decoration: none;
    color: var(--darkerGrey);
    font-size: 0.7rem;
  }

  a:hover {
    color: var(--blue);
    cursor: pointer;
  }
}

.largeHeader {
  font-size: 1rem;
}
