.sectionBrowseResults {
    min-height: 600px;
}

.statusMessages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionBrowseResults ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.sectionBrowseResults ul li {
    height: 400px;
    width: auto;

    button {
        height: 100%;
        width: auto;

        header {
            height: 40px;
            font-size: 2rem;
        }
    }
}

.pagination {
    margin-top: 14px;
    padding: 40px 0;
    border-top: 1px solid var(--darkGrey);
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        padding: 8px 16px;
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--darkerGrey);
        color: var(--white);
        outline: none;
        border: none;
        border-radius: 4px;
    }
}

.pagination button:hover {
    background-color: var(--darkestGrey);
}

@media screen and (min-width: 600px) {
    .sectionBrowseResults ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .sectionBrowseResults ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .sectionBrowseResults ul {
        grid-template-columns: repeat(4, 1fr);
    }
}