.ulPopularMovies {
    list-style: none;
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    overflow-y: hidden;
    gap: 16px;
    padding-bottom: 10px;
    height: 200px;

    scrollbar-color: var(--grey) transparent;

    li {
        div,
        button {
            margin: 4px;
            height: 175px;
            min-width: 120px;
        }
    }
}

@media screen and (min-width: 800px) {
    .ulPopularMovies {
        height: 420px;
    }

    .ulPopularMovies li button,
    .ulPopularMovies li div {
        height: 400px;
        min-width: 240px;
    }
}
