.sectionBackdrop {
    position: relative;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBackdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: grayscale(30%) brightness(0.5);
}

.imgLoadingBackdrop {
    width: 100%;
    height: 460px;
    background-color: var(--darkestGrey);
    animation: loadingShimmer 1.5s infinite;
    position: relative;
}

.sectionBackdrop::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(ellipse 100% 100% at center,
            rgba(20, 24, 28, 0) 25%,
            rgba(20, 24, 28, 0.2) 40%,
            rgba(20, 24, 28, 0.5) 70%,
            rgba(20, 24, 28, 1) 100%);
}

/* Caption overlay */
.spanOverlayCaption {
    position: absolute;
    top: 25%;
    right: 5%;
    transform: rotate(-90deg);
    color: var(--darkerGrey);
    font-size: 0.8rem;
    transform-origin: top right;
}