.sectionBrowse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--lightGrey);
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.sectionBrowseResults {
  min-height: 400px;

  ul {
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 150px;
        height: 225px;
      }
    }
  }
}
