.mainFilms {
    min-width: 100vw;
    background-color: var(--darkBlue);
    padding: 60px 240px;

}

.sectionBrowse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--lightGrey);
    font-size: 0.8rem;
    margin-bottom: 40px;
}