.listsPageHeader {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.listsPageTitle {
  font-size: 26px;
  font-weight: 100;
  color: var(--lightestGrey);
}

.startListButton {
  margin-top: 16px;
  align-self: center;
  padding: 6px 12px;
  border: none;
  background-color: var(--darkerGrey);
  color: var(--lightGrey);
}

.featuredListsSection {
  display: flex;
  justify-content: center;
}
