:root {
    --orange: #ff8000;
    --green: #01ac1b;
    --darkGreen: #017f12;
    --lighterBlue: #e0f7ff;
    --lightBlue: #b0e7ff;
    --blue: #40bcf4;
    --darkBlue: #151a1e;
    --navy: #191d21;
    --gold: #f5c518;
    --black: #14181c;
    --blackRgb: 30, 36, 41;
    --white: #efeeee;
    --grey: #888c8e;
    --lightGrey: #cbced0;
    --lightestGrey: #f0f0f0;
    --darkGrey: #778899;
    --darkerGrey: #445566;
    --darkestGrey: #2a2f36;

    --fontOne: 'Graphik', sans-serif;
    --fontTwo: 'Georgia', serif;
    --fontThree: 'Arial', sans-serif;

    --mainWidth: 1200px;
    --maxMainWidth: 960px;

    --lightBorderRadius: 4px;
    --mediumBorderRadius: 6px;
    --heavyBorderRadius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontOne);
}

body {
    background-color: var(--darkBlue);
    color: var(--white);
}

.hidden {
    display: none !important;
}

main {
    max-width: var(--mainWidth);
    margin: 0 auto;
    padding: 0 20px;
    min-height: 80vh;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--green);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.divCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
}

.pulsing {
    animation: pulse 1.5s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}