.ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

li {
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (min-width: 600px) {
    .ul {
        grid-template-columns: repeat(5, 1fr);
    }

    .ul li {
        justify-content: center;
        align-items: center;
    }
}