.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.username {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}

.username:hover {
  color: var(--lightBlue);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 10px;
  color: var(--grey);
}
