.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.avatar,
.loadingAvatar {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.loadingAvatar {
    background-color: var(--darkGrey);
}

.username {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.username:hover {
    color: var(--lightBlue);
}

.loadingUsername {
    width: 80px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: var(--darkGrey);
    border-radius: 4px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
    color: var(--grey);
    font-size: 12px;
}

.loadingStats {
    width: 100px;
    height: 22px;
    background-color: var(--darkGrey);
    border-radius: 4px;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .avatar,
    .loadingAvatar {
        width: 120px;
        height: 120px;
    }

    .username {
        font-size: 18px;
    }

    .stats {
        font-size: 14px;
    }
}
