.usersList {
    list-style: none;
    padding: 60px;
}

.userItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--grey);
}

.userItem:last-child {
    border-bottom: none;
}
