.usersList {
    list-style: none;
}

.userItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--grey);
}

.userItem:last-child {
    border-bottom: none;
}

.error,
.loading {
    color: var(--grey);
    text-align: center;
    margin: 20px 0;
    font-style: italic;
}


@media screen and (min-width: 768px) {
    .usersListSection {
        padding: 0 100px 0 0;
    }
}