.sectionMovieDetails {
    margin: 0 auto;
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    background-color: rgba(20, 24, 28, 0.9);
    min-height: 30vh;
}

.sectionMain {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sectionFirstContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
}

.headerMovieDetails {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.h1MovieTitle {
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    font-family: var(--fontTwo);
}

.pReleaseYear {
    color: var(--lightGrey);
    margin: auto 0 4px 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.pMovieTagline {
    font-style: italic;
    color: var(--grey);
    margin-bottom: 12px;
    font-size: 1rem;
    font-family: var(--fontThree);
}

.sectionMovieGenres {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
}

.linkGenre {
    background-color: var(--darkerGrey);
    color: var(--lightGrey);
    padding: 4px 8px;
    border-radius: var(--smallBorderRadius);
    font-size: 0.9rem;
    font-family: var(--fontThree);
    text-decoration: none;
}

.pMovieOverview {
    margin-right: 40px;
    color: var(--lightGrey);
    font-size: 1.1rem;
    font-family: var(--fontTwo);
}

.sectionRight {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .sectionFirstContent {
        flex-direction: row;
    }

    .sectionMovieDetails {
        grid-template-columns: 30% auto;
    }
}
