.sectionMovieDetails {
    margin: 0 auto;
    margin-top: -60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    background-color: rgba(20, 24, 28, 0.9);
    min-height: 30vh;
}

.sectionLoadingAside {
    top: 4px;
    margin-right: 20px;
    width: 100%;
    height: auto;
    background-color: var(--darkerGrey);
    border-radius: 10px;
}

.sectionMain {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sectionFirstContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
}

.headerMovieDetails {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.h1MovieTitle,
.loadingMovieTitle {
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    font-family: var(--fontTwo);
}

.loadingMovieTitle {
    border-radius: 8px;
    width: 200px;
    height: 32px;
    background-color: var(--darkerGrey);
    border-radius: var(--smallBorderRadius);
}

.pReleaseYear,
.loadingReleaseYear {
    color: var(--lightGrey);
    margin: auto 0 4px 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.loadingReleaseYear {
    border-radius: 8px;
    width: 80px;
    height: 32px;
    background-color: var(--darkerGrey);
    border-radius: 8px;
}

.pMovieTagline,
.loadingMovieTagline {
    font-style: italic;
    color: var(--grey);
    margin-bottom: 12px;
    font-size: 1rem;
    font-family: var(--fontThree);
}

.loadingMovieTagline {
    border-radius: 8px;
    width: 300px;
    height: 24px;
    background-color: var(--darkerGrey);
    border-radius: var(--smallBorderRadius);
}

.sectionMovieGenres {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
}

.linkGenre,
.loadingLinkGenre {
    background-color: var(--darkerGrey);
    color: var(--lightGrey);
    padding: 4px 8px;
    border-radius: var(--smallBorderRadius);
    font-size: 0.9rem;
    font-family: var(--fontThree);
    text-decoration: none;
}

.loadingLinkGenre {
    width: 80px;
    height: 24px;
    border-radius: 8px;
}

.pMovieOverview,
.loadingMovieOverview {
    margin-right: 40px;
    color: var(--lightGrey);
    font-size: 1.1rem;
    font-family: var(--fontTwo);
}

.loadingMovieOverview {
    border-radius: 8px;
    width: 100%;
    height: 80px;
    background-color: var(--darkerGrey);
    border-radius: 12px;
}

.sectionRight {
    margin-top: 40px;
    width: 100%;
}

.pNoReviews,
.pNoLists {
    color: var(--grey);
    font-size: 14px;
    font-style: italic;
}

.buttonGroupPlaceholder {
    margin-left: auto;
    width: 150px;
    height: 120px;
    background-color: var(--darkerGrey);
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .sectionFirstContent {
        flex-direction: row;
    }

    .sectionMovieDetails {
        grid-template-columns: 35% auto;
    }
}
