.reviewCard {
    display: grid;
    grid-template-columns: 2fr 6fr;
    padding: 20px 40px;
    border-bottom: 1px solid var(--darkestGrey);
    gap: 20px;
}

.reviewCard:last-child {
    border-bottom: none;
}

.reviewCard>button {
    height: 200px;
    width: 120px;
}